*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

.body-im{
width: 100vw;
height: 100vh;
object-fit: cover;
object-position: center;
position:absolute;
right:0;
bottom:0;
z-index: -1;
}

::-webkit-scrollbar{
display:none;
}

.body{
height: 100vh;
color: white;
width: 100%;
background-color: rgba(0, 0, 0, 0.65);

}

.cont1{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
flex-wrap: wrap;
width: 100vw;


}
.body .p1{
    font-size:clamp(1.8em, 4cqi, 3em);
font-weight: 500;
padding: 0px 5vw;
}

.cont1 .p2{
padding: 30px 40px;
border: 2px solid #5794f5;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
margin-top: 10vh;
font-weight: 500;
transition:.3s linear;
}

.cont1 .p2:hover{
background: #5794f5;
color: black;
transition:.3s linear;
}

.logo-div{
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  margin-top: 50px;
  z-index: 2;
  margin-top: -15px;
  margin: 20px;
  
  
}
.logo{
  object-fit:contain ;
  object-position: center;
  width: 100%;
  height: 100%;
  /* position:absolute; */
  z-index: -1;
  top:0;
  right:0;

}

.header{
position:absolute;
right: 0;
display:flex;
padding-top: 10vh;

}
.links a{
text-decoration: none;
color: white;
font-weight: 500;
transition: .2s linear;

}

.links a:hover{
text-decoration: none;
color: #5794f5;
transition: .3s linear;
transform: scale(1.1);
border-bottom: 2px solid #5794f5;
border-bottom-left-radius: 20%;
padding-bottom: 5px;
/* transform: ; */
}
.links{
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
width: 65vw;
}

.links1{
    padding-top: 90px;
}
input{
    display:none;
}
.divbars{
    padding-right: 20px;
    cursor:pointer;
}
.divbars:hover{
    color: #5794f5;
}
.main-cont{
    display:flex;
}
.hid{
    transform:scaleY(0);
    width: 55vw;
    position:absolute;
    padding: 30px;
    text-transform: uppercase;
    height: 100vh;
    display:flex;
    right: 0;
    flex-direction: column;
    background-color: white;
    line-height: 5em;
    transition: .15s linear;
}
.hid a{
    text-decoration: none;
    display:flex;
    flex-direction: column;
    color: grey;
    padding-left:20px;
    transition: .3s linear;
    overflow:hidden;
    border-bottom: 1px solid rgb(128, 128, 128, .2);
}

.hid a:hover{
    color:#5794f5;
    background: rgb(196, 192, 192, .4);
    transform:translateX(20px);
    transition: .3s linear;
}

.close{
    display:flex;
    right: 0;
    margin: 20px 20px 0px 0px;
    font-size: 2em;
    position: absolute;
    cursor:pointer;

}


.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #ff7f5d;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #ff9f86;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  .main-cont2{
    margin:20px 0px;
  }
  .founder{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .founder div:nth-child(1){
    width: 30vw;
  }

  .founder-p p:nth-child(1){
    color: grey;
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(1.8em, 4cqi, 3em);
  }
  .founder-p p:nth-child(2){
    color: grey;
    text-align:left;
    line-height: 2em;
  }
  
  
.grid1{
  position:relative;
}
.im-p{
  min-height: 100%;
  width: 100%;
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: flex-end;
  color:white;
  font-size:clamp(2.5em, 4cqi, 3em);
  padding-bottom: 20%;
  outline:2px solid white;
  background-color: rgb(0, 0, 0, .35);
  outline-offset: -20px;
  transition:.1s linear;
  padding-left: 22px;
  padding-right: 23px;
}
.im-p:hover{
  color: #5794f5;
  transition: .2s linear;
  outline-offset: -5px;
  
}
.grid1 img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: -1;
  top:0;
  right:0;
}

.img-bg{
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:35vh;
    padding:40px 12vw;
    line-height:2.5em;
    text-align:center;
    font-size:clamp(1.8em, 4cqi, 3em);
    font-weight: 500;
    margin: 5vh 0vh;
}
.bg1{
  background: linear-gradient(rgba(0,0,0,.78), rgba(0,0,0,.78)),url(./img/images/build5.jpg) center/cover no-repeat;
}
.bg2{
  background: linear-gradient(rgba(0,0,0,.78), rgba(0,0,0,.78)),url(./img/images/build6.jpg) center/cover no-repeat;
}
.bg3{
  background: linear-gradient(rgba(0,0,0,.78), rgba(0,0,0,.78)),url(./img/images/build8.jpg) center/cover no-repeat;
}

.info{
    color: grey;
    text-align:left;
    line-height: 2em;
    padding: 0px 25px;
}
em{
  color:#5794f5;
  margin-right: 10px;
}


section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fafafa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ff7f5d;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
  color: #919191;
  font-size: 14px;
}



/*------
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #150517;
  margin: 0 3px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(255, 127, 93, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a i {
  line-height: 0;
}

.team .member .social a:hover {
  background: #ff7f5d;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #150517;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}












@media(min-width:768px) {
    .divbars{
        display:none;
    }
    .hid{
        display:none;
    }
}



@media(max-width:768px) {
    .links{
        display:none;
    }
}

@media(max-width:450px) {
  .founder{
    flex-direction: column;
  }
  .founder div:nth-child(1){
    width: 100%;
  }
  .founder-p{
    padding: 30px 25px 0px 25px;
  }
  
  .grid1{
    min-height: 70vh;
  }
}

@media(min-width:450px) {
  .founder div:nth-child(2){
    width: 70vw;
  }
  .founder-p{
    padding: 0px 40px;
  }
  .grid1{
    min-height: 70vh;
  }
}