{% extends 'main.html' %}
{% load static %}
{% block content %}
  <!-- Template Main CSS File -->
  <link href="{% static 'gallery.css' %}" rel="stylesheet">

</head>

<body>
  <div class="main-cont">
    <div class="body">
      <div class="logo-div">
        <img class="logo" src="{% static 'img/images/logo.png' %}" alt="">
    </div>
        <img class="body-im" src="{% static 'img/images/tggallery.png' %}" alt="">
        <div class="header">
            <div class="links">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'sermons' %}">Sermons</a>
                <a href="{% url 'testimonies' %}">Testimonies</a>
                <a href="{% url 'giving' %}">Giving</a>
                <a href="{% url 'gallery' %}">Gallery</a>
            </div>
            <input type="checkbox" id="input">
            <label for="input">
                <div class="divbars">
                    <i class="fas fa-bars bars"></i>
                </div>
            </label>
        </div>
        <div class="cont1">
            <p class="p1">TGCC Gallery</p>
        </div>
    </div>
    <div class="hid">
        <div class="close">
            <i class="fas fa-close"></i>
        </div>
        <div class="links1">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'sermons' %}">Sermons</a>
            <a href="{% url 'testimonies' %}">Testimonies</a>
            <a href="{% url 'giving' %}">Giving</a>
            <a href="{% url 'gallery' %}">Gallery</a>
        </div>
        
    </div>
  </div>

  <main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">

        <ul id="portfolio-flters" class="d-flex justify-content-center fas">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Pastors</li>
          <li data-filter=".filter-card">Choir</li>
          <li data-filter=".filter-web">Instrumentalist</li>
        </ul>

        <div class="row portfolio-container">
          {% for image in images %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{image.name}}">
              <div class="portfolio-img"><img src={{image.imageURL}} id="image" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                {% comment %} <h4>{{image.name}}</h4> {% endcomment %}
                <p>Description</p>
                <a href={{image.imageURL}} data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Description"><i class="fas fa-eye"></i></a>
                <a href={{image.imageURL}} download={{image.imageURL}} class="details-link " title="More Details"><i class="fas fa-download"></i></a>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->
  </main><!-- End #main -->

  {% comment %} <div id="preloader"></div>
  <a href="{#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>  {% endcomment %}

{% endblock content %}